*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: aliceblue;
    padding: 20px;
    
}
li,ul,h1{
    display: inline;
}
ul{
    margin-left: 60%;
}
li{
    color: gray;
    cursor: pointer;
}
li:hover{
    color: wheat;
}
input{
    width:60% ;
    padding: 15px;
    
}
.sarch{
    padding: 70px;
    text-align: center;
}
.box
{
    border:2px solid rgb(0, 0, 0) ;
    display: inline-block;
    width: 220px;
    
}
.product{
    text-align: center;
}
.box:hover{
    background-color: coral;
    color: cornflowerblue;
}
.about{
    margin-top: 20px;
    padding: 20px;
}
.contact{
    color: aqua;
background-color: blanchedalmond;
text-align: center;
padding: 20px;}